//! **************************************************************************
// Written by: Map P.20131013 on Mon Jul 29 12:30:24 2024
//! **************************************************************************

SCHEMATIC START;
COMP "mode<0>" LOCATE = SITE "P203" LEVEL 1;
COMP "mode<1>" LOCATE = SITE "P200" LEVEL 1;
COMP "clk" LOCATE = SITE "P132" LEVEL 1;
COMP "Sin" LOCATE = SITE "P192" LEVEL 1;
COMP "Pout<0>" LOCATE = SITE "P152" LEVEL 1;
COMP "Pout<1>" LOCATE = SITE "P168" LEVEL 1;
COMP "Pout<2>" LOCATE = SITE "P172" LEVEL 1;
COMP "Pout<3>" LOCATE = SITE "P171" LEVEL 1;
COMP "Pin<0>" LOCATE = SITE "P186" LEVEL 1;
COMP "Pin<1>" LOCATE = SITE "P187" LEVEL 1;
COMP "Pin<2>" LOCATE = SITE "P185" LEVEL 1;
COMP "Pin<3>" LOCATE = SITE "P181" LEVEL 1;
COMP "Sout" LOCATE = SITE "P179" LEVEL 1;
COMP "rst" LOCATE = SITE "P204" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

