

NET "Q[4]" LOC = P165;
NET "Q[3]" LOC = P167;
NET "Q[2]" LOC = P163;
NET "Q[1]" LOC = P164;
NET "Q[0]" LOC = P161;
NET "clk" LOC = P132;
NET "rst" LOC = P184;
NET "pr" LOC = P194;
NET "dir" LOC = P179;
