
# PlanAhead Generated physical constraints 

NET "A[3]" LOC = P200;
NET "A[2]" LOC = P203;
NET "A[1]" LOC = P206;
NET "A[0]" LOC = P205;
NET "B[3]" LOC = P196;
NET "B[2]" LOC = P199;
NET "B[1]" LOC = P197;
NET "B[0]" LOC = P202;
NET "F[2]" LOC = P189;
NET "F[1]" LOC = P193;
NET "F[0]" LOC = P192;
NET "Y[3]" LOC = P164;
NET "Y[2]" LOC = P163;
NET "Y[1]" LOC = P167;
NET "Y[0]" LOC = P165;
NET "CB" LOC = P161;
